* {
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Mono', monospace ;
    color: #060A24;
    box-sizing: border-box;

}

/* INICIO ESTILO MENU HAMBURGUESA MOBILE */

header {
    width: 100%;
    height: 44px;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    top: 0;
}

img.logo {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.menu {
    display: none;
    height: 224px;
    position: absolute;
    top: 44px;
    left: 0px;
}

label:before {
    content: '­☰';
}

label {
    font-family: 'IBM Plex Mono', monospace;
    margin-top: 10px;
    margin-right: 19px;
    width: 25px;
    height: auto;
    float: right;
    cursor: pointer
}

#toggle:checked ~ label:before {
    content: ' X';
}

input:checked~.menu {
    display: block;
    background-color: #0000EC;
    padding-bottom: 15px;
}

#toggle { display: none;}

input:checked~.menu a {
    color: #ffffff;
    display: block;
    padding: 15px 200px 15px 16px;
}

nav ul {
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
    list-style: none;
    padding-left: 15px;
    padding-top: 15px;
 }

 /* FIN ESTILO MENU HAMBURGUESA MOBILE */

 /* INICIO Responsive para Desktops MENU */

 @media (min-width: 768px) {
    
    .header_nav {
        width: 100%;
        height: auto;
    }

    img.logo {
        width: 36px;
        height: 36px;
        margin-top: 22px;
        margin-left: 8%;
        display: inline-block;
        vertical-align: middle;
    }

    .menu_mobile {
        height: 100%;
        width: auto;
        margin-right: 7%;
    }

    input {
        display: none;
    }

    label {
        display: none;
    }
            
    .menu {
        margin: 0px;
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: flex-end;   
    }

    .menu {
        width: 100%;
        height: 100%;
        position: inherit;
        top: 44px;
        left: 0px;
    }

    .menu li {
        height: 100%;
        width: 100%;
        padding: 0px;
        list-style: none;
        text-decoration: none;
        margin-left: 16px;
        margin-top: 26px;
    }

    ul li a {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px ;
        color: #060A24;
        list-style-type: none;
        text-decoration: none;            
    }
  
    ul li a:hover { 
        color: #00F3BB ;
        text-decoration: line-through;
    }

    ul li a:active {
        text-decoration: line-through;
    }


}
/* FIN Responsive para Desktops MENU */



/* INICIO ESTILO BANNER HELLO WORD MOBILE*/

.banner {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.h1_banner {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0px; /* sirve? */
    line-height: 42px;  
    margin: 0px 0px 8px 16px;
    font-weight: 400;
}

.a_desktop {
    display: none;
}

.p_banner {
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    width: 288px;
    height: 66px;
    margin: 0px 16px 16px 16px
        
}

.a_mobile {
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
}


.banner a {
    background-color: #00F3BB;
    border: none;
    list-style: none;
    color: #060A24;
    font-family: 'IMB Plex Sans', sans-serif;
    text-decoration: none;
    display: flex;
    width: 288px;
    height: 48px;
    justify-content: center;
    margin: 24.5px 16px 24px 16px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    border: none;
    cursor: pointer;
}


.banner a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
}

/* fin ESTILO BANNER HELLO WORD MOBILE*/


/* inicio Responsive para Desktops BANNER */
@media (min-width: 768px) {

    .banner {
        display: flex;
        flex-direction: column;
    }

    .h1_banner {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        max-width: 1400px;
        color: #060A24;
        font-size: 64px;
        line-height: normal;
        margin-top: 120px;
        margin-left: 200px;
        width: 80%;
    }

    .blue_dot {
        color: blue;
    }

    .a_mobile {
        display: none;
    }

    .a_desktop {
        display: flex;
        font-family: 'IBM Plex Mono', monospace;
        width: 628px;
        color: #060A24;
        font-size: 16px;
        letter-spacing: 0px;
        height: auto ;
        text-align: justify;
        line-height: 24px;
        margin: 16px 612px 0px 200px
    }

    .banner a {
        font-family: 'IBM Plex Mono';
        font-size: 18px;
        font-weight: 500;
        list-style: none;
        text-decoration: none;
        color: #060A24;
        background-color: #00F3BB;
        display: flex;
        align-items: center;
        width: 226px;
        height: 56px;
        margin: 56px 1014px 5px 200px;
        letter-spacing: 0px;
        text-align: center;
        line-height: 24px;
        border: none;
        cursor: pointer;
        padding: 0px;
    }

}
/* FIN Responsive para Desktops BANNER */



/* Inicio Estilo Sección Episodios para Mobile */
.episodios {
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    line-height: 0px; /* ver si está bien el linear-gradient*/
    clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
    height: 1203.5px;
    width: 100%;
}

.h2_episodios{
    font-family: IBM Plex Sans;
    font-size: 36px;
    width: 157px;
    height:42px;
    margin-left:  16px;
    padding-top: 70px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 500;
    margin-bottom: 63px;
}

.lista_spotify {
    display: flex;
    flex-flow: column;
}

.iframe_one{
    width: 301px;
    height: 235px;
    margin: 0px 11px 0px 11px;
  }
/* FIN Estilo Sección Episodios para Mobile */



/* Inicio Estilo Sección Episodios Responsive para Desktop */
@media (min-width: 768px){
    
    .episodios {
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
        height: 1042.6px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .h2_episodios {
        color: white;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        width: 209px;
        height: 62px;
        margin-left: 200px;
        margin-top: 140px;
        padding-top: 25px;
        line-height: 42px;
        letter-spacing: 0px;
        font-weight: 400;
    }    

    .lista_spotify {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(2, 232px);
        column-gap: 72px;
        row-gap: 72px;
        align-items: inherit;
        margin-bottom: 232.6px;
        justify-content: center;
        align-content: center;
    }

    .iframe_one {
        width: 584px ;
        height: 250px;
        margin-bottom: 72px;
     }
}
/* FIN Estilo Sección Episodios Responsive para Desktop */





/* A PARTIR DE ACÁ HAY QUE MODIFICAR */
/* INICIO estilo Sección Nosotros para Mobile */

.img_phone img {
    width: 360px;
    height: 519px;
    margin: 0px -20px 27px -20px;
    display: flex;
    position: absolute;
    top: 1455px;
}

.h2_phone {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0px;
    line-height: 42px;
    width: 288px;
    height: 84px;
    margin: 450.5px 16px 8px 16px;
    display: flex;
}

.p_phone {
    width: 288px;
    height: 254px;
    margin: 0px 16px 54px 16px;
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0px;
    line-height: 22px;
}

/* Fin Estilo Sección  Nosotros Mobile */
   
/* Inicio Responsive Desktop Sección NOSOTROS */
@media (min-width: 768px) {
    .img_phone img {
        width: 457.6px;
        height: auto;
        margin: 0px 0px 0px 100px;
        display: flex;
    }

    .h2_phone {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        font-weight: 400;
        color: #060A24;
        letter-spacing: 0px;
        width: 399px;
        height: auto;
        margin: 20.4px 321px 24px 62.4px;
        display: block;
        float: right;
    }

    .p_phone {
        width: 464px;
        height: auto;
        margin: 0px 256px 245px 62.4px ;
        font-size: 16px;
        font-family: 'IBM Plex Mono', monospace;
        letter-spacing: 0px;
        color: #060A24;
        line-height: 24px;
        display: block;
        float: right;
    }
}

/* Inicio SECTION Invitadas para Mobile*/
.h2_guest {
    width: 288px;
    height: 84px;
    margin: 0px 16px 14px 16px;
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0px;
    line-height: 42px;
}

.img_guest img{
    width: 320px;
    height: 243px;
    margin: -2px -8px -2px;
    display: flex;
}
/* FIN SECTION Invitadas para Mobile*/

/* Inicio SECTION Invitadas Respomsive para Desktop*/
@media (min-width: 768px) {
    .h2_guest {
        width: 481px;
        height: 62px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        font-weight: 400;
        color: #060A24;
        letter-spacing: 0px;
        margin: 788px 759px 36px 200px;
    }

    .img_guest {
        width: 100%;
        max-width: 1440px;
    }

    div.img_guest img {
        width: 460px;
        height: 364px;
        margin: -2px -8px -2px;
        display: inline-block;
    }
}
/* FINAL SECTION Invitadas Respomsive para Desktop*/

/* Inicio Estilo SECTION tópicos para MOBILE*/
.h2_topicos {
    width: 288px;
    height: 84px;
    margin: 48px 16px 24px 16px;
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0px;
    line-height: 42px;
} 

.topicos img {
    width: 104px;
    display: block;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 13px;
}

.topicos h3 {
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    width: 288px;
    height: 16px;
    align-content: center;
    margin-left: 100px;
    
}

.h3_security {
    margin-top: 15px;
    margin-left: 0px;
}
/* Fin Estilo SECTION tópicos para MOBILE*/

/* Inicio Estilo SECTION tópicos Responsive para Desktop*/
@media (min-width: 768px) {
    .topicos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .h2_topicos {
        width: 100%;
        height: auto;
        margin: 64px 0px 0px 200px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 48px;
        font-weight: 400;
        color: #060A24;
        letter-spacing: 0px;
    }

    .div_topicos_section {
        width: 90vw;
        display: flex;
        justify-content: center;
    }

    .div_topicos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* FINAL SECTION Tópicos Responsive para Desktop*/



/* INICIO Estilo SECTION NOVEDADES para MOBILE*/
.novedades {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%); /* ME DA ERROR EN EL VALIDATOR CSS*/
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-flow: column wrap;
    width: 100% ;
    height: 341px;
    margin: 0px;
}

.h2_novedades {
    font-size: 36px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    line-height: 42px;
    padding: 64px 16px 0px 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
}

.novedades a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    background-color: #00F3BB;
    width: 288px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #060A24;
    letter-spacing: 0px;
    text-align: center;
    line-height: 22px;
    text-decoration: none;
    margin: 36px 16px 0px 16px;
}
/* Fin Estilo SECTION NOVEDADES para MOBILE*/

/* INICIO Estilo SECTION NOVEDADES Responsive para Desktop*/
@media (min-width: 768px) {
    .novedades { 
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);  /* ME DA ERROR EN EL VALIDATOR CSS*/
        clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
        height: 518px;
        margin-top: 34px;
    }

    .h2_novedades {
        font-size: 48px;
        color: #FFFFFF;
        letter-spacing: 0px;
        align-self: center;
        line-height: 42px;
        margin: 100px 375px 0px 374px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        width: 100%;
        height: 62px;
        display: flex;
    }

    .novedades a {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 18px;
        color: #060A24;
        letter-spacing: 0px;
        text-align: center;
        line-height: 24px;
        text-decoration: none;
        background-color: #00F3BB;
        width: 345px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 548px 151px 547px;
    }
}
/* Fin Estilo SECTION NOVEDADES Responsive para Desktop*/


/* Inicio Estilo FOOTER para MOBILE*/
.footer {
    height: 121px;
}

.c_copyright {
    width: 227px;
    height: 22px;
    font-family: 'IBM Plex Mono';
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin: 24px 47px 16px 47px;
}

.i_networks {
    width: 16px;
    height: 28px;
    font-family: FontAwesome5Brands-Regular;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    display: flex;
    margin: 16px 100px 31px 0px;
    justify-items: center;
}

.i_networks a i {
    margin-left: 36px;
}
/* Fin Estilo FOOTER para MOBILE*/


/* Inicio Estilo FOOTER Responsive para Desktop*/



/* Inicio Estilo FOOTER Responsive para Desktop*/
@media (min-width: 768px) {
    .footer {
        height: 95px;
        display: flex;
        width: 1440px;
    }

    .c_copyright {
        width: 269px;
        height: 28px;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0px;
        line-height: 28px;
        margin: 36px 703px 31px 100px;
    }

    .i_networks {
        width: 18px;
        height: 28px;
        font-family: FontAwesome5Brands-Regular;
        font-size: 18px ;
        color: #060A24;
        letter-spacing: 0px;
        line-height: 28px;
        display: flex;
        margin: 36px 100px 31px 0px;
        justify-content: center;
    }
}
/* Fin Estilo FOOTER Responsive para Desktop*/





